body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}


.reg-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="submit"] {
    color: #e8eee7;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #036380;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}

select {
    width: 105%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h4 {
    margin-bottom: 10px;
    color: #012f4a;
}


.center {
    text-align: center;
}

a {
    font-size: 14px;
    color: #036380;
}

button {
    color: #e8eee7;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #012f4a;
    margin-top: 5px;
    font-size: 16px;
}

.error-message {
    color: #ff0000;
}

.column1 {
    width: 45%;
    float: left;
}

.column2 {
    width: 45%;
    float: right;
}

.column label {
    display: block;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.column3 {
    width: 100%;
    display: flex;
    justify-content: center;
}