<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Запись на приём</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .center-container {
            text-align: center;
        }

        .custom-select {
            display: inline-block;
            height: 40px;
            border-radius: 4px;
            color: #000000;
            margin-top: 20px;
        }

        button {
            margin-top: 10px;
            padding: 10px;
        }
    </style>
</head>
<body class="frame">
<div class="first-screen">
    <div th:switch="${schedules}" class="container my-5 center-container">
        <div th:case="*">
            <form th:action="@{/selectedDoctor}" method="post">
                <input type="hidden" th:name="doctorId" th:value="${selectedDoctor}" />

                <label for="selectedDate">Выберите дату:</label>
                <select class="custom-select" id="selectedDate" name="selectedDate">
                    <option th:each="date : ${futureDates}" th:value="${date}" th:text="${date}"></option>
                </select>

                <button type="submit">Продолжить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

