<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .reg-container {
      background-color: #f0f0f0;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 500px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-right: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"],
    input[type="email"],
    input[type="password"] {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    input[type="submit"] {
      color: #e8eee7;
      border: none;
      border-radius: 8px;
      padding: 10px 30px;
      cursor: pointer;
      background-color: #036380;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 16px;
    }

    select {
      width: 105%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    h4 {
      margin-bottom: 10px;
      color: #012f4a;
    }


    .center {
      text-align: center;
    }

    a {
      font-size: 14px;
      color: #036380;
    }

    button {
      color: #e8eee7;
      border: none;
      border-radius: 8px;
      padding: 10px 30px;
      cursor: pointer;
      background-color: #012f4a;
      margin-top: 5px;
      font-size: 16px;
    }

    .error-message {
      color: #ff0000;
    }

    .column1 {
      width: 45%;
      float: left;
    }

    .column2 {
      width: 45%;
      float: right;
    }

    .column label {
      display: block;
    }

    .buttons {
      text-align: center;
      margin-top: 20px;
    }

    .column3 {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  </style>
</head>
<body>
<div class="reg-container">
  <form action="/registration" th:object="${user}" method="post">
    <div class="column1">
      <label>
        <h4>Логин:</h4>
        <input th:field="*{login_user}" type="text" name="login_user" value="Nik"/>
        <span class="error-message" th:if="${#fields.hasErrors('login_user')}" th:errors="*{login_user}"></span>
      </label>
      <label>
        <h4>Пароль:</h4>
        <input th:field="*{password_user}" type="password" name="password_user" value="factor2003"/>
        <span class="error-message" th:if="${#fields.hasErrors('password_user')}" th:errors="*{password_user}"></span>
      </label>
      <label>
        <h4>Номер телефона:</h4>
        <input th:field="*{phone_user}" type="tel" name="phone_user" value="+7 999 999-99-98"/>
        <span class="error-message" th:if="${#fields.hasErrors('phone_user')}" th:errors="*{phone_user}"></span>
      </label>
      <label>
        <h4>Почта:</h4>
        <input th:field="*{email_user}" type="email" name="email_user" value="nik@gmail.com"/>
        <span class="error-message" th:if="${#fields.hasErrors('email_user')}" th:errors="*{email_user}"></span>
      </label>
    </div>

    <div class="column2">
      <label>
        <h4>Имя:</h4>
        <input th:field="*{name_user}" type="text" name="name_user" value="Иван"/>
        <span class="error-message" th:if="${#fields.hasErrors('name_user')}" th:errors="*{name_user}"></span>
      </label>
      <label>
        <h4>Фамилия:</h4>
        <input th:field="*{surname_user}" type="text" name="surname_user" value="Иванов"/>
        <span class="error-message" th:if="${#fields.hasErrors('surname_user')}" th:errors="*{surname_user}"></span>
      </label>
      <label>
        <h4>Отчество:</h4>
        <input th:field="*{patronymic_user}" type="text" name="patronymic_user" value="Иванович"/>
        <span class="error-message" th:if="${#fields.hasErrors('patronymic_user')}" th:errors="*{patronymic_user}"></span>
      </label>
      <label>
        <h4>Пол:</h4>
        <select id="gender" name="id_gender">
          <option value=""></option>
          <option th:each="item : ${genders}" th:value="${item.id_gender}" th:text="${item.name_gender}"></option>
        </select>
      </label>
    </div>
    <div class="column3">
      <div class="buttons">
        <div class="center">
          <input type="submit" value="Зарегистрироваться"/>
        </div>
        <div class="center">
          <button id="MyButton">Назад</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  var button = document.getElementById("MyButton");

  // Назначаем обработчик события при клике на кнопку
  button.addEventListener("click", function() {
    // Здесь указываем URL страницы, на которую хотим перейти
    window.location.href = "authorization.html";
  });
</script>
</body>
</html>
