<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Выбор времени</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        table {
            width: 50%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            margin-top: 10px;
            padding: 10px;
        }
    </style>
</head>
<body class="frame">
<div class="first-screen">
    <div class="container my-5 center-container">
        <h2>Выберите время</h2>
        <table>
            <thead>
            <tr>
                <th>Время</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.start_time} + ' - ' + ${schedule.end_time}"></td>
                <td>
                    <form th:action="@{/confirmReception}" method="post">
                        <input type="hidden" name="doctorId" th:value="${selectedDoctor.id_user}" />
                        <input type="hidden" name="selectedDayOfWeek" th:value="${selectedDayOfWeek}" />
                        <input type="hidden" name="selectedTime" th:value="${schedule.start_time}" />
                        <button type="submit">Выбрать</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
